seed: 42
max_steps: 500_000

env:
  env_id: Humanoid-v4
  num_envs: 4
  utd_ratio: 0.5
  asynchronous: True

encoder:
  encoder_dim: 256
  num_encoder_layers: 2

world_model:
  mlp_dim: 512
  latent_dim: 512
  value_dropout: 0.01
  num_value_nets: 5
  num_bins: 101
  symlog_min: -10
  symlog_max: 10
  symlog_obs: False
  simnorm_dim: 8
  learning_rate: 3e-4
  encoder_learning_rate: 1e-4
  predict_continues: True
  dtype: bfloat16
  tabulate: False

tdmpc2:
  # Planning
  mpc: True
  horizon: 3
  mppi_iterations: 6
  population_size: 512
  policy_prior_samples: 32
  num_elites: 64
  min_plan_std: 0.05
  max_plan_std: 2
  temperature: 0.5
  # Optimization
  batch_size: 256
  discount: 0.99
  rho: 0.5
  consistency_coef: 20
  reward_coef: 0.1
  continue_coef: 0.1
  value_coef: 0.1
  entropy_coef: 1e-4
  tau: 0.01
